<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title><%= title %></title>
</head>
<body>
    <% if ( userFullName ) { %>
        <h2>Hello <%=userFullName%> </h2>
        <a href="/signout">Sign out</a>
    <% } else { %>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    <% } %>
</body>
</html>